.links{
    background: #262525;
    min-height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}
.links a{
    color: white;
    text-decoration: none;
    font-family: cursive;
    font-size: 1.5rem;
}
.Introduction{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.content .name{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.Education-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Education{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hobby-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hobby{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aim-head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.aim{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.favourite-place{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.places{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}
.fvrt-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.islamabad{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}